{% comment %}
  =========================================================
  Section: OSS - Video Flex Grid
  Repository: github.com/stephenpapierski/open-shopify-sections
  Version: 2025.9.0
  Author: Stephen Papierski
  License: MIT (see LICENSE file for details)
  Description: Flexible video flex grid section for Shopify.
  =========================================================
{% endcomment %}

{%- liquid
  # get settings
  assign desktop_columns = section.settings.desktop_columns
  assign mobile_columns = section.settings.mobile_columns
  assign video_spacing = section.settings.video_spacing

  # map content alignment
  case section.settings.content_alignment
    when 'left'
      assign justify_content = 'flex-start'
    when 'center'
      assign justify_content = 'center'
    when 'right'
      assign justify_content = 'flex-end'
    else
      assign justify_content = 'center'
  endcase
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .oss-video-grid-{{ section.id }} {
    display: flex;
    flex-wrap: wrap;
    gap: {{ section.settings.video_spacing }}px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: {{ justify_content }};
  }

  .oss-video-{{ section.id }} {
    flex: 0 0 calc((100% - ({{ mobile_columns }} - 1) * {{ video_spacing }}px) / {{ mobile_columns }});
    aspect-ratio: {{ section.settings.aspect_ratio }};
    overflow: hidden;
    box-sizing: border-box;
    border-radius: {{section.settings.video_radius }}px;
  }

  .oss-video-{{ section.id }} iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
  }

  @media screen and (min-width: 750px) {
    .oss-video-{{ section.id }} {
      flex: 0 0 calc((100% - ({{ desktop_columns }} - 1) * {{ video_spacing }}px) / {{ desktop_columns }});
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <div class="isolate{% unless section.settings.full_width %} page-width{% endunless %} {{ section.settings.content_alignment }}">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
      </div>
    {%- endunless -%}
    <div class="oss-video-grid-{{ section.id }}">
      {%- for block in section.blocks -%}
        <div class="oss-video-{{ section.id }}">
          {% if block.settings.video_url.type == 'youtube' %}
            <iframe
              src="
                https://www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0
                {%- if section.settings.autoplay_muted -%}&autoplay=1&mute=1{%- endif -%}
                {%- if section.settings.loop_video -%}&loop=1&playlist={{ block.settings.video_url.id }}{%- endif -%}
              "
              frameborder="0"
              allow="encrypted-media; autoplay"
              allowfullscreen
              loading="lazy"
              title="{{ block.settings.aria_label }}"
            >
            </iframe>
          {% else %}
            <iframe
              src="
                https://player.vimeo.com/video/{{ block.settings.video_url.id }}?dnt=1
                {%- if section.settings.autoplay_muted -%}&autoplay=1&muted=1{%- endif -%}
                {%- if section.settings.loop_video -%}&loop=1{%- endif -%}
              "
              frameborder="0"
              allow="encrypted-media; autoplay"
              allowfullscreen
              loading="lazy"
              title="{{ block.settings.aria_label }}"
            >
            </iframe>
          {% endif %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "OSS - Video Flex Grid",
  "settings": [
    {
      /* Content Header */
      "type": "header",
      "content": "Header"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.video.settings.heading.default",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      /* Style Header */
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      /* Layout Header */
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
    {
      /* Video Header */
      "type": "header",
      "content": "Video Grid"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "16 / 9",
          "label": "Widescreen (16:9)"
        },
        {
          "value": "9 / 16",
          "label": "Vertical (9:16)"
        },
        {
          "value": "1 / 1",
          "label": "Square (1:1)"
        },
        {
          "value": "4 / 3",
          "label": "Legacy (4:3)"
        }
      ],
      "default": "16 / 9",
      "label": "Aspect Ratio"
    },
    {
      "type": "range",
      "id": "desktop_columns",
      "label": "Desktop Columns",
      "default": 3,
      "min": 1,
      "max": 6
    },
    {
      "type": "range",
      "id": "mobile_columns",
      "label": "Mobile Columns",
      "default": 1,
      "min": 1,
      "max": 3
    },
    {
      "type": "range",
      "id": "video_spacing",
      "label": "Video Spacing",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "video_radius",
      "label": "Corner Radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "autoplay_muted",
      "default": false,
      "label": "Autoplay (Muted)"
    },
    {
      "type": "checkbox",
      "id": "loop_video",
      "default": false,
      "label": "Loop Video"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video Url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "text",
          "id": "aria_label",
          "label": "Accessibility Title",
          "default": "Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "OSS - Video Flex Grid",
      "category": "Custom",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
